repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
        additional_dependencies:
          - click==8.0.4

  - repo: https://github.com/PyCQA/pylint
    rev: v2.8.2
    hooks:
      - id: pylint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: ['--write-changes']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: check-ast
      - id: check-json
      - id: check-yaml
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.17.1
    hooks:
      - id: check-jsonschema
        name: Check movie schema
        files: ^data/.*-movies/.*\.yaml$
        types: [yaml]
        args: ["--schemafile", "data/movie-schema.yaml"]
      - id: check-jsonschema
        name: Check show schema
        files: ^data/.*-shows/.*\.yaml$
        types: [yaml]
        args: ["--schemafile", "data/shows-schema.yaml"]
