repos:
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        additional_dependencies:
          - click==8.0.4

  - repo: https://github.com/PyCQA/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        args: [
          # Running this outside of the environment, we can't import packages
          '--disable=E0401'
        ]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        exclude: ^tests/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: ['types-PyYAML', 'types-requests', 'pytest']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ['--write-changes']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: check-ast
      - id: check-json
      - id: check-yaml
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-jsonschema
        name: Check movie schema
        files: ^data/.*-movies/.*\.yaml$
        types: [yaml]
        args: ["--schemafile", "data/movie-schema.yaml"]
      - id: check-jsonschema
        name: Check show schema
        files: ^data/.*-shows/.*\.yaml$
        types: [yaml]
        args: ["--schemafile", "data/show-schema.yaml"]
