black==24.2.0
flake8==7.0.0
google-api-python-client==2.118.0
google-auth==2.28.1
pylint==3.0.3
pytest==8.0.1
PyYAML==6.0.1
rich==13.7.0
tmdbv3api==1.9.0
types-PyYAML==6.0.12.12
types-requests==2.31.0.20240218
