name: CI

on:
#   push:
#    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Python Requirements
        run: make init

      - name: Lint everything
        run: make lint
        
      - name: Run tests
        run: make test

  run:
    needs: test
    runs-on: ubuntu-latest
    environment: run
    steps:
      - uses: actions/checkout@v2

      - name: Install Python Requirements
        run: make init

      - name: Decrypt Service token
        run: ./.github/scripts/decrypt_secret.sh
        env:
          SERVICE_DECRYPT_PASS: ${{ secrets.SERVICE_DECRYPT_PASS }}

      - name: Export Calendar
        run: make run
